<h2>Books List</h2>
<ul>
  <% books.forEach(book => { %>
    <li>
      <%= book.title %> by <%= book.author %>
      <form method="POST" action="/delete-book" style="display:inline;">
        <input type="hidden" name="id" value="<%= book.id %>">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
